.foreverSection {
  clear: both;
  background-color: #1e1e1e;
  height: 50rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
  font-family: "Metropolis";
}

.forLeft {
  width: 50%;
  font-weight: 700;
  font-size: xx-large;
  margin-top: 3em;
  padding-left: 5em;
}

.cardGif {
  border-radius: 7em;
  width: 50%;
  margin-top: 3em;
  padding-left: 3em;
}

@media screen and (max-width: 768px) {
  .cardGif {
    margin-left: 3em;
  }

  .forLeft {
    margin-top: 20em;
    position: absolute;
    width: 100%;
    display: initial;
    justify-items: left;
    font-size: medium;
  }

  .color {
    display: initial;
    justify-items: center;
    text-align: center;
    width: 100%;
  }
}
