.love {
  clear: both;
  background-color: #1e1e1e;
  height: 20rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
  font-family: "Metropolis";
}

.lovecenter {
  text-align: center;
  font-weight: 600;
  padding-top: 3em;
  font-size: x-large;
  line-height: 1.5em;
  width: 100%;
}

.sectxt {
  font-size: large;
  font-weight: 400;
}
